/* toolbar cursor */
i{
    cursor: hand;
}
.SideBar {
    align-items: center;
    background-color: #363636;
    max-width: 100px;
    padding: 0;
}
.SideMenu>div.Active a {
    color: #fff;
    background-color: #2f2f2f;
}
.SideMenu > div:hover a
{
    background-color: #d84146;
    color:white;
}

.SideMenu>div a {
    display: block;
    padding: 20px;
    text-align: center;
    min-width: 100vw;
}
.SideMenu a {
    text-decoration: none;
}
.SideMenu, .SideMenu a {
    color: #999;
    font-size: 14px;
}

.SideMenu {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.SectionBar {
    background-color: #f2f2f2;
    max-width: 200px;
    min-width: 200px;
    border-right: 1px solid #ccc;
}
.LogoText {
    color: #fff;
    font-size: 20px;
}
.GuideList{
    /*min-height: 500px;*/
    max-height: 100vh;
    overflow: auto;
}
i{
    font-size: 23px;
    padding: 8px;
}